# Dépendances
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Fichiers de build
.next
out
build
dist

# Fichiers de développement
.git
.gitignore
.env
.env.local
.env.development
.env.test
.env.production
README.md
.vscode
.idea

# Fichiers système
.DS_Store
Thumbs.db